body{
  margin: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,0.4458158263305322) 100%);
}

.main{
  display: grid;
  grid-template-columns: 1px 200px auto 25px;
  grid-template-rows: 25px 100px auto 25px;
}

header{
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
  
}
.main-content{
  border-right: 2px solid black;
  border-top: 2px solid black
}

.Navbar{
  grid-column: 2/3;
  grid-row: 3/4;
  width: 200px;
}


.Navbar ul{
    
    padding-left: 0px;
    justify-content: center;
}

.Navbar li{
  text-align: center;
  list-style-type: none;
  margin: 10px;
  
  border-radius: 5%;
  padding: 0px;

}
.Navbar a{
  text-decoration: none;
  color: white;
  width: 100px;
  padding: 20px;
  border-radius: 5%;
  background-color: rgb(0, 0, 255);
  display: inline-block;
  
}

.Navbar  a:hover{
  box-shadow: 0 0 0 1px rgb(0 0 0 / 100%);
}

.Content{
  grid-column: 3/4;
  grid-row: 3/4;
 
}
h1{
  padding-top: 25px;
}

h2{
  text-align: center;
  margin-bottom: 0px;
  text-decoration:underline;

}
h3{
  text-align: center;
  margin-bottom: 0px;
}

p{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  
}

.img1{
  
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 70%);
  border-radius: 5%;
}

@media screen and (max-width: 500px) {
    .main{
        display: grid;
        grid-template-columns:   auto ;
        grid-template-rows:  auto auto auto;
      }

      .Navbar{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        
        
      }
    

      .Navbar li{
        margin: 2px;
        
      }

      .Navbar ul{
        display: flex;
        
        flex-direction: row;
        flex-wrap: wrap;
      }

      .Navbar a{
          text-decoration: none;
          color: white;
          padding: 5px;

          width: auto;
          
        }
        .Content{
          grid-column: 1/2;
          grid-row: 3/4;
          margin-left: 30px;
          margin-right: 30px;
        }

        header{
          grid-column: 1/2;
          grid-row: 1/2;
          text-align: center;
        }

        h1{
           padding-top: 0px;
          }

          .main-content{
            border-right: none;
            border-top: none;
        }
}